

<div style="text-align:center;">
  <h1>
    Courses App
  </h1>
</div>

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
      <h2>Welcome</h2>
      <ol class="breadcrumb">
          <li class="breadcrumb-item">
              <a routerLink="/">Home</a>
          </li>
          <li class="breadcrumb-item">
             <a routerLink="/courses">courses</a> 
          </li>
          <li class="breadcrumb-item">
            <a routerLink="/courses/edit">Register courses</a> 

          </li>
      </ol>
  </div>
</div>

<router-outlet></router-outlet>